<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Puerto Resto</title>
        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://kit.fontawesome.com/79d424b66a.js" crossorigin="anonymous"></script>
    </head>

<body>
	<header>
		<h2><a href="/index.html">Puerto Resto</a></h2>
		<nav>
		<li><a href="/index.html">Inicio</a></li>
		<li><a href="/carta.html">Carta</a></li>
		<li><a href="reservas.html">Reservas</a></li>
        <li><a href="experiencias.html">Experiencias</a></li>
        <li><a href="delivery.html">Delivery</a></li>
		<li><a href="contacto.html">Contacto</a></li>
        <li><a href="ubicacion.html">Ubicación</a></li>
		</nav>
	</header>

    <section class="main"> <div class="background-image" style="background-image: url('/static/Imagenes/tabla%20de%20comida.jpg');"></div>
        <div class="container">
            <br>
            <body>
            <h1>Gracias por tu compra</h1>
            <form id="formulario" class="checkoutform" onsubmit="return validarFormulario()" action="/delivery.html">
                    <fieldset class=checkoutfield>
                        <legend><b>Datos personales:</b></legend>
                        <br>
                        <label for="nombre"><b>Nombre: </b></label> <br>
                        <input class="checkoutinput" size="20" type="text" name="nombre" id= "nombre" placeholder="Ingrese su nombre aquí..." >
                        <br><br>
                        <label for="apellido"><b>Apellido: </b></label> <br>
                        <input size="20" class="checkoutinput" type="text" name="apellido" id="apellido" placeholder="Ingrese su apellido aquí..." >
                        <br><br>
            
                        <label for="direccion"><b>Dirección: </b></label> <br>
                        <input type="direccion" class="checkoutinput" id="direccion" name="direccion">
                        <br><br>
                        <label for="celular"><b>Celular: </b></label> <br>
                        <input type="celular" class="checkoutinput" id="celular" name="calcular">
                        <br><br>
                                <legend><b>Método de pago:  </b> </legend> <br>
                                <label for="01" class="contactoleft-content" ><b>Efectivo</b></label>
                                <input type= "checkbox"  name="mdp" class="checkoutcb" transform= scale(1.5) value="Efectivo" id="efectivo">
                                
                                <label for="02" class="contactoleft-content"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Transferencia</b></label>
                                <input type="checkbox"  name="mdp" class= "checkoutcb" transform= scale(1.5) value="Transferencia" id="transferencia">
                                <br> <br>
                                
                                <label for="04" class="contactoleft-content"><b>Tarjeta de Débito</b></label>
                                <input type="checkbox" name="mdp" class= "checkoutcb" transform= scale(1.5) value="TarjetaDebito" id="tarjetadebito">
                                    
                                <label for="04"class="contactoleft-content"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tarjeta de Crédito</b></label>
                                <input type="checkbox"  name="mdp" class= "checkoutcb" transform= scale(1.5) value="TarjetaCredito" id="tarjetacredito">    
                                <br>
                            <br> <br>
                    </fieldset>
                        <br><br>                   
                        <p class="contactocenter-content" href="/delivery.html"><input type="submit" class="contactobutton" value="Enviar Datos"></p>
                        <p class="contactocenter-content"><input type="reset" class="eliminarbutton" value="Borrar"></p>
                        <a href="/delivery.html" class="cancelbutton"> <span class="close"> <i class="fa fa-close"></i></span> Cancelar</a>
                        <br> <br>

                </form>
            <script src="valform.js"></script>
        </div>
    </section>

<section class="Redes">
<div> <h2>¿Cómo contactarnos?</h2> </div>
    <br>
<ul>
   <li><a target="_blank" href="https://facebook.com/profile.php?id=100091818918129"><i class="fa-brands fa-facebook"></i> Encontranos en Facebook</a></li>
   <li><a href="#"><i class="fa-brands fa-twitter"></i>Encontranos en Twitter</a></li>
     <li><a target="_blank" href="https://instagram.com/puertoresto"><i class="fa-brands fa-instagram"></i> Encontranos en Instagram</a></li>
     <li><a target="_blank" href="https://tiktok.com/@puertoresto"><i class="fa-brands fa-tiktok"></i>Encontranos en TikTok</a></li>
     <li><a target="_blank" href="https://wa.me/c/5491155875586"><i class="fa-brands fa-whatsapp"></i>Escribinos en Whatsapp al +5491155875586</a></li>
   </ul>
</section>

<footer>
   <ul>
       <li><a target="_blank" href="https://facebook.com/profile.php?id=100091818918129"><i class="fa-brands fa-facebook"></i></a></li>
       <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
         <li><a target="_blank" href="https://instagram.com/puertoresto"><i class="fa-brands fa-instagram"></i></a></li>
         <li><a target="_blank" href="https://tiktok.com/@puertoresto"><i class="fa-brands fa-tiktok"></i></a></li>
         <li><a target="_blank" href="https://wa.me/c/5491155875586"><i class="fa-brands fa-whatsapp"></i></a></li>
   </ul>
   <p>+5491155875586.</p>
   <p>Direccion: Macacha Güemes 351, C1106BKG CABA</p>
</footer>

</body>

</html>